
body{
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url('../assets/ant-crawling.gif');
    background-color: rosybrown;
    
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 200px;
    border:black solid 5px;
    border-radius: 50%;
}
input[name="character-class"]{
    display: none;
}
input[type=radio]:checked + img{
    border: springgreen solid 5px;
}


label{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    text-align: center;
}
